.hiddenWord {
    font-weight: 600;
}
.lostGameMsg {
    background-color: chocolate;
    color: black;
}
.wonGameMsg {
    background-color: cadetblue;
    color: blue;
}
.hangman-main {
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.hangman-main p {
    text-align: center;
}
.challenge-word {
    letter-spacing: 6px;
}